* {
    text-align: center;
}

button{
    margin: 5px;
}

div#container {
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: aqua;
}

div.row {
    flex: 1 1 0;
    background-color: aqua;
    display: flex;
}

div.square {
    flex: 1 1 0;
    background-color:lime;
}

